/* cell */
@media(max-width:480px) {

    .header {
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .menu {
                padding: 2rem 0;
            }
        }
    }

    .home {
        .container-home {
            .content {
                padding: 0 2rem;
                text-align: center;

                h2 {
                    font-size: 2.8rem;
                }

                p {
                    padding: 2rem 0;
                }
            }
        }
    }

    .about {

        .box {
            flex-direction: column;

            img {
                max-width: 100%;
            }
        }
    }

    .map {
        iframe {
            width: 90%;
        }
    }

}

/* tablets */
@media(min-width:481px) and (max-width:850px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .container-home {
            .content {
                p {
                    padding: 3rem 0;
                }

                h2 {
                    font-size: 5rem;
                }
            }
        }
    }

    .about {

        .box {
            flex-direction: column;

            img {
                max-width: 100%;
            }
        }
    }
}